
.tabla {
    background: #D3D3D3;
    width: 100%;
    border: 0px;
    
    text-align: center;
    margin-left: 25%;
    width: 100%;
    max-width: 800px;
    
    
}


.tabla th {
    width: 20%;
    border: 0px;
    padding-top: 5px;
    height: 30px;
}

.selector {
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;    
}



